* {
  font-family: 'DINPro';
  font-size: 16px;
}
.f-10 {
  font-size: 10px;
}
.f-12 {
  font-size: 12px;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
.f-22 {
  font-size: 22px;
}
.f-24 {
  font-size: 24px;
}
.f-26 {
  font-size: 26px;
}
.f-28 {
  font-size: 28px;
}
.f-30 {
  font-size: 30px;
}
.f-32 {
  font-size: 32px;
}
.f-34 {
  font-size: 34px;
}
.f-36 {
  font-size: 36px;
}
.f-titulo-normal {
  font-weight: 300;
  line-height: 1.2em;
  margin: 0;
}
p {
  font-size: 18px;
  font-family: 'DINPro';
  font-weight: 300;
}
p a {
  font-size: 18px;
  color: inherit;
  text-decoration: underline;
}
p a:hover {
  color: inherit;
}
.bg-yellow {
  background: #f5d304;
}
.bg-purple {
  background: #51277f;
}
.bg-orange {
  background: #d67b19;
}
.bg-warmGrey {
  background: #bfb5a5;
}
.bg-pink {
  background: #c40079;
}
.bg-light-grey {
  background: #d9d9d9;
}
.bg-light-purple {
  background: #9b1889;
}
.bg-dark-grey {
  background: #575756;
}
.text-yellow {
  color: #f5d304;
}
.text-purple {
  color: #51277f;
}
.text-orange {
  color: #d67b19;
}
.text-warmGrey {
  color: #bfb5a5;
}
.text-pink {
  color: #c40079;
}
.text-light-grey {
  color: #d9d9d9;
}
.text-light-purple {
  color: #9b1889;
}
.text-dark-grey {
  color: #575756;
}
.imgFondo {
  background-position: center;
  background-size: cover;
}
.img-recurso1 {
  padding-top: 2em;
  max-width: 320px;
  width: 100%;
}
.border-social {
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  color: #fff !important;
  text-decoration: none !important;
}
.imgLogos {
  width: 100%;
  max-width: 450px;
}
.imgGris {
  width: 100%;
  max-width: 240px;
}
.flipExpo .front,
.flipExpo .back {
  min-width: 206px;
  min-height: 206px;
  max-height: 100%;
  max-width: 206px;
}
.flipSoluciones .front,
.flipSoluciones .back {
  min-width: 300px;
  min-height: 300px;
  max-height: 100%;
  max-width: 300px;
}
.capaFront {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.fondoEdificios {
  min-height: 50vh;
  background-image: url("../img/elementos/fondo-ciudad.jpg");
  background-position: center !important;
  background-size: cover !important;
}
.fondoEdificios img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
footer {
  padding-top: 25px;
  background-image: url("../img/elementos/fondoGris.png") !important;
  background-position: center !important;
}
.degradado {
  display: inline-block;
  color: #000;
  font-size: 2.5em;
  background: #fff;
  mix-blend-mode: multiply;
  position: relative;
  border: 2px solid #fff;
}
.degradado:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #51277f, #c40079, #d67b19, #f5d304);
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  left: 0;
}
.invalid-tooltip {
  position: initial;
  font-size: 0.8rem;
}
.table td {
  border-top: 0px solid #dee2e6;
}
thead {
  display: none;
}
.infoSitios {
  color: #5f5f5f;
  background-color: #f5f7fc;
  padding-bottom: 1em;
  margin-bottom: 1em;
  position: relative;
}
.infoSitios .btnEdit {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.infoSitios .portada-nombre {
  background-color: #952c32;
  min-height: 110px;
}
.infoSitios .portada-nombre .edit {
  position: absolute;
  right: 25px;
  top: 25px;
}
.infoSitios .portada-nombre .titulo {
  display: flex;
}
.infoSitios .portada-nombre .titulo h5 {
  color: #fff;
  padding-bottom: 10px;
}
.infoSitios .portada-sitios {
  min-height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.infoSitios .form-group {
  margin-bottom: 0.4rem;
}
.infoSitios h5 {
  font-weight: 600;
  color: #313131;
}
.infoSitios label {
  margin: 0px;
  font-weight: 600;
  color: #313131;
}
.infoSitios .maps {
  min-height: 200px;
}
.infoSitios p.pre {
  white-space: pre-line;
}
.infoSitios .informacion {
  padding: 1em 2em;
}
.ideCard {
  background-color: #fff;
  height: 100%;
  border: 1px solid #014178;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 1em;
  color: #59585e;
}
.ideCard h5 {
  color: #02437a;
}
.ideCard i {
  color: #e8a03a;
}
.ideCard hr {
  border-top: 1px solid #e8a03a;
}
.ideCard label {
  color: #000;
}
.ideCard iframe {
  width: 100%;
  max-height: 320px;
}
.form-group label {
  font-weight: 600;
  margin-bottom: 0px;
}


