$Yellow		= #f5d304
$Purple		= #51277f
$Orange		= #d67b19
$WarmGrey	= #bfb5a5
$Pink			= #c40079
$LightGrey		= #d9d9d9
$LightPurple	= #9B1889
$DarkGrey		= #575756
$guinda			= #952C32

*
	font-family 'DINPro'
	font-size 16px
	
sombra(size, transparencia)
	-webkit-box-shadow 0px 0px size 1px rgba(0,0,0,transparencia)
	-moz-box-shadow 0px 0px size 1px rgba(0,0,0,transparencia)
	box-shadow 0px 0px size 1px rgba(0,0,0,transparencia)

.f-10
	font-size 10px
.f-12
	font-size 12px
.f-14
	font-size 14px
.f-16
	font-size 16px
.f-18
	font-size 18px
.f-20
	font-size 20px
.f-22
	font-size 22px
.f-24
	font-size 24px
.f-26
	font-size 26px
.f-28
	font-size 28px
.f-30
	font-size 30px
.f-32
	font-size 32px
.f-34
	font-size 34px
.f-36
	font-size 36px

.f-titulo-normal
	font-weight 300
	line-height 1.2em
	margin 0

p
	font-size 18px
	font-family 'DINPro'
	font-weight 300
	a
		font-size 18px
		color inherit
		text-decoration underline
		&:hover
			color inherit
.bg
	&-yellow
		background $Yellow
	&-purple
		background $Purple
	&-orange
		background $Orange
	&-warmGrey
		background $WarmGrey
	&-pink
		background $Pink
	&-light-grey
		background $LightGrey
	&-light-purple
		background $LightPurple
	&-dark-grey
		background $DarkGrey
.text
	&-yellow
		color $Yellow
	&-purple
		color $Purple
	&-orange
		color $Orange
	&-warmGrey
		color $WarmGrey
	&-pink
		color $Pink
	&-light-grey
		color $LightGrey
	&-light-purple
		color $LightPurple
	&-dark-grey
		color $DarkGrey

.imgFondo
	background-position center
	background-size cover

.img-recurso1
	padding-top 2em
	max-width 320px
	width 100%
	
.border-social
	border 2px solid white
	width 40px
	height 40px
	color white!important
	text-decoration none!important

.imgLogos
	width 100%
	max-width 450px

.imgGris
	width 100%
	max-width 240px

.flipExpo
	.front
	.back
		min-width 206px
		min-height 206px
		max-height 100%
		max-width 206px

.flipSoluciones
	.front
	.back
		min-width 300px
		min-height 300px
		max-height 100%
		max-width 300px
		
.capaFront
	left 0
	right 0
	top 0
	bottom 0

.fondoEdificios
	min-height 50vh
	background-image url("../img/elementos/fondo-ciudad.jpg")
	background-position center!important
	background-size cover!important
	img
		width 100%
		height 100%
		-o-object-fit cover
		object-fit cover

footer
	padding-top 25px
	background-image  url("../img/elementos/fondoGris.png")!important
	background-position center!important
	// background-size cover!important

// .form-control
// 	padding-left 2em
// 	padding-right 2em		

.degradado
	display inline-block
	color #000
	font-size 2.5em
	background #fff
	mix-blend-mode multiply
	position relative
	border: 2px solid white;
	&:before
		content ''
		display block
		width 100%
		height 100%
		background linear-gradient(to right, $Purple, $Pink, $Orange, $Yellow)
		mix-blend-mode screen
		position absolute
		top 0
		left 0

.invalid-tooltip
	position initial
	font-size 0.8rem

.table
	td
		border-top 0px solid #dee2e6
thead
	display none
.infoSitios
	color #5f5f5f
	background-color #F5F7FC
	padding-bottom 1em
	margin-bottom 1em
	position relative
	.btnEdit
		border-radius 50%
		width 35px
		height 35px
	.portada
		&-nombre
			background-color $guinda
			min-height 110px
			.edit
				position absolute
				right 25px
				top 25px
			.titulo
				display flex
				h5	
					color white
					padding-bottom 10px
		&-sitios
			min-height 250px
			background-size cover
			background-position center
			position relative
	.form-group
		margin-bottom 0.4rem
	h5
		font-weight 600
		color #313131
	label 
		margin 0px
		font-weight 600
		color #313131
	.maps
		min-height 200px
	p
		&.pre
			white-space pre-line
	.informacion
		padding 1em 2em

.ideCard
	background-color white
	height 100%
	border 1px solid #014178
	sombra(5px, 0.1)
	border-radius 10px
	padding 1em
	color #59585E
	h5
		color #02437A
	i
		color #E8A03A
	hr
		border-top 1px solid #E8A03A
	label
		color #000000
	iframe
		width 100%
		max-height 320px
		


.form-group
	label
		font-weight 600
		margin-bottom 0px



#legrandLogo
	border-left: 1px solid black;