#legrandLogo{
	border-left: 1px solid black;
}

.bg-start{
  background-image: url("../img/bg_catVirtual.png");
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.imgIndex{
  width: 100%;
}
.bg-registro{
    background: black ;
    opacity: 0.8;
    width: 70%;
    margin: 10%;
}

.frmRegistro{
    padding : 0% 10%;
}

.frmIniciarSesion{
    padding : 5% 10%;
}

.jumbotron::after{
  content: "";
  background-color: rgba(0,0,0,0.8);
  filter:brightness(0.7);
  z-index:-1;
  opacity: 0.8;
}

.catalogoCategorias>.col-md-4>.card:hover{
  color: orange;
}

footer.footCatalogo{
  background-color: gray;
  color:white;
  font-size: 12px;
}
