
$border-radius: 0rem;
$border-radius-lg: 0rem;
$border-radius-sm: 0rem;
$label-margin-bottom: 0.1rem;
$component-active-bg: theme-color("secondary");
$link-color: theme-color("secondary");
$pagination-active-bg: $danger;
$nav-pills-link-active-bg: $danger;